{% extends 'base.html.twig' %}

{% block body %}

<div class="container mt-4">
<h1>Ajout d'une affaire</h1>

{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn btn-primary">Ajouter</button>
{{ form_end(form) }}

</div>
{%  endblock %}