{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4">
<h1>Editer le sac</h1>

{{ include('admin/form_container.html.twig', {form : form, button : 'Modifier'}) }}
</div>

{%  endblock %}